<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners" />
    </listeners>
    <test name="test1">
        <classes>
            <class name="FacebookLoginTest">
                <methods>
                    <include name="staffAm"/>

                </methods>
            </class>

        </classes>
    </test>

    <test name="test2">
        <classes>

        </classes>

    </test>


</suite>

